      <div class='col-lg-4'>
        <h2>ユーザー情報</h2>
        <table class='table'>
          <tr>
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
          </tr>
          <tr>
            <th>名前</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>
              自己<br>
              紹介
            </th>
            <th><%= user.introduction %></th>
          </tr>
        </table>　 
        <div class='row'>
          <a class="btn btn-outline-secondary btn-block" href="/users/<%= user.id %>/edit">
            <i class="fas fa-user-cog"></i>
          </a>
        </div>
        <hr>
        <div class="form-body border border-dark p-2">
          <h5 class="text-dark py-4 mb-0">新規投稿フォーム</h5>
          <%= form_with model:game, local:true do |f| %>
            <div class="input-group my-3">
              <label for="game_title">ゲーム名</label>
              <%= f.text_field :title %>
            </div>
            <div class="input-group my-3">
              <label for="game_hard">ゲーム機種</label>
              <%= f.select :hard,[["パソコン","パソコン"],["ファミリーコンピューター","ファミリーコンピューター"],["PCエンジン","PCエンジン"],["メガドライブ","メガドライブ"],["ゲームボーイ","ゲームボーイ"],["スーパーファミコン","スーパーファミコン"],["ゲームギア","ゲームギア"],["ネオジオ","ネオジオ"],["PlayStation","PlayStation"],["セガサターン","セガサターン"],["NINTENDO64","NINTENDO64"],["ドリームキャスト","ドリームキャスト"],["ネオジオポケット","ネオジオポケット"],["ワンダースワン","ワンダースワン"],["PlayStation2","PlayStation2"],["ゲームボーイアドバンス","ゲームボーイアドバンス"],["ニンテンドーゲームキューブ","ニンテンドーゲームキューブ"],["Xbox","Xbox"],["ニンテンドーDS","ニンテンドーDS"],["PlayStation Portable","PlayStation Portable"],["Wii","Wii"],["PlayStation3","PlayStation3"],["ニンテンドー3DS","ニンテンドー3DS"],["WiiU","WiiU"],["PlayStation Vita","PlayStation Vita"],["PlayStation4","PlayStation4"],["Nintendo Swich","Nintendo Swich"],["PlayStation5","PlayStation5"],["スマートフォン","スマートフォン"],["その他","その他"]], include_blank: "選択して下さい" %>
            </div>
            <div class="input-group my-3">
              <label>ゲーム画像
                <%= f.attachment_field :game_image, placeholder: "ゲーム画像" %>
              </label>
            </div>
            <div class="input-group my-3">
              <label for="game_body">ゲーム説明</label>
                <%= f.text_area :body %>
              </div>
            <div class="form-group">
              <%= f.submit "新規投稿", class:"btn btn-success" %>
            </div>
          <% end %>
        </div>
        <hr>
      </div>
