<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ユーザー情報</h1>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>error prohibited this obj from being saved:
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
      <%= form_with model:@user, local:true do |f| %>
        <div>
          <label for="inputName">Name</label>
        </div>
        <div>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %>
        </div>
        <div>
          <label for="inputImage">ProfileImage</label>
        </div>
        <div>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %>
        </div> 
        <div>
          <label for="inputBody">Introduction</label>
        </div>
        <div>
          <%= f.text_area :introduction, autofocus: true, id:"inputBody", placeholder:"introduction" %>
        </div>
        <div>
          <%= f.submit "Update User", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
