<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render "users/user_info2", user: @user, game: @game %>
      <div class='col-md-8 offset-md-1'>
        <h2>ユーザー一覧</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>ユーザー画像</th>
              <th>ユーザー名</th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
                </td>
                <td><%= user.name %></td>
                <td>
                  <%= link_to "詳細", user_path(user.id) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</main>
