<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render "users/user_info", user: @user, game: @game %>
      <div class='col-md-8 offset-md-1'>
        <h2>投稿一覧</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @games.each do |game| %>
              <tr>
                <td>
                  <%= link_to user_path(@user.id) do %>
                    <%= attachment_image_tag game.user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "#{game.title}", book_path(game.id) %>
                </td>
                <td><%= game.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
