<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <% if @game.errors.any? %>
      <%= @game.errors.count %>件のエラーにより、この投稿を保存できませんでした
      <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class='row'>
      <%= render "users/user_info", user: @user, game: @game %>
      <div class='col-lg-7 offset-lg-1'>
        <%= render "games/game_index", games: @games, game: @game %>
      </div>
    </div>
  </div>
</main>
